<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='Well'>
        <% if params[:plan] =='1' %>
          <%= render "basic_form" %>
        <% else %>
          <%= render "pro_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>