<div class="container text-center">
    <h1>About Page</h1>
    <br>
    <h3>We are DevMatch. <br> Our Company focuses on creatin an exclusive cummunity <br> for developers and entrepreneurs to meet.</h3>
</div>